@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.nav {
  height: 103.5px;
}

.nav-link {
  display: flex;
  align-items: center;
  margin: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 20px;
  font-weight: 400px;
  line-height: 30px;
}

.nav-link:hover {
  color: #00B8B0;
}

.button-register{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  font-family: 'Poppins';
  margin-top: 8px;
  margin-left: 20px;
  background-color: #00B8B0;
  color: #ffff;
  font-size: 20px;
  width: 121px;
  height: 50px;
  border-radius: 30px;
  border: none;
}

.title {
  font-weight: 600px;
  font-family: 'Poppins';
}

.furniture {
  color: #00B8B0;
  font-family: 'Poppins';
}

.button-belanja-sekarang {
  font-family: 'Poppins';
  width: 227px;
  height: 56px;
  left: 120px;
  top: 459px;
  border-radius: 30px;
  background-color: #00B8B0;
  color: #ffff;
  border: none;
}

.image-beranda {
  position: absolute;
  width: 497px;
  height: 352px;
  left: 815px;
  top: 175px;
}

/* Page Login */